<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <h2>Detail Contact</h2>
      <% if (!contact) { %>
      <div class="alert alert-danger" role="alert">
        Data Kontak tidak ada. <br />
        <a href="/contact" class="alert-link"
          >&laquo; kembali ke daftar kontak.</a
        >
      </div>
      <% } else { %>
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title"><%= contact.nama %></h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            <%= contact.noHP %>
          </h6>
          <p class="card-text"><%= contact.email %></p>
          <a href="/contact/edit/<%= contact._id %>" class="btn btn-info badge"
            >ubah</a
          >
          <!-- <a
            href="/contact/delete/<%= contact._id %>"
            class="btn btn-danger badge"
            onclick="return confirm('yakin dihapus?')"
            >hapus</a
          > -->
          <form method="POST" action="/contact?_method=DELETE" class="d-inline">
            <input type="hidden" name="id" value="<%= contact._id %>">
            <button
              type="submit"
              class="btn btn-danger badge"
              onclick="return confirm('Yakin dihapus?')"
            >
              delete
            </button>
          </form>
          <a href="/contact" class="card-link d-block mt-2"
            >&laquo; Kembali ke daftar contact</a
          >
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
